<h1>Login</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :role, "Role" %>
    <%= form.select :role, User.roles.keys.map { |role| [role.titleize, role] } %>
  </div>

  <div>
    <%= form.submit "Continue" %>
  </div>
<% end %>
