<div class="Nav_bar">
    <div id="Nav_bar_title">Edit Lesson</div>
    <div id="Nav_bar_links">
        <%= link_to "Back to Lesson", course_lesson_path(@course, @lesson) %>
    </div>
    <div id="Nav_bar_links">
        <%= link_to "Back to Course", course_path(@course) %>
    </div>
    <div id="Nav_bar_links">
        <%= link_to "Courses", courses_path %>
    </div>
    <div id="profile_link">
        <% if current_user.present? %>
            <%= link_to "Profile", user_profile_path(current_user) %>
            <span>|</span>
            <%= link_to "Logout", new_user_path %>
        <% else %>
            <%= link_to "Login", new_user_path %>
        <% end %>
    </div>
</div>

<h1>Edit Lesson</h1>

<div>
    <div>
        <%= form_with model: [@course, @lesson], html: { class: "app_form" } do |form| %>
        <%= render "errors/error", context:@lesson %>
        <div>
            <%= form.label :title, "Title" %>
            <%= form.text_field :title %>
        </div>
        <div>
            <%= form.label :content, "Content" %>
            <%= form.text_area :content %>
        </div>
        <div>
            <%= form.hidden_field :course_id %>
        </div>
        <div>
            <%= form.submit "Update Lesson" %>
            <%= link_to "Cancel", edit_course_path(@course), class: "btn-link" %>
        </div>
        <% end %>
    </div>
</div>
