<div class="Nav_bar">
    <div id="Nav_bar_title">Lesson</div>
    <div id="Nav_bar_links">
        <%= link_to "Back to Course", course_path(@lesson.course_id) %>
    </div>
    <div id="Nav_bar_links">
        <%= link_to "Courses", courses_path %>
    </div>
    <div id="profile_link">
        <% if current_user.present? %>
            <%= link_to "Profile", user_profile_path(current_user) %>
            <span>|</span>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
            <%= link_to "Sign in", new_user_session_path %>
        <% end %>
    </div>
</div>

<h1>Lesson: <%= @lesson.title %></h1>
<div class="content_panel">
    <h2>Content</h2>
    <p><%= @lesson.content %></p>
</div>
<%= render "comments/comments",
      comments: @comments,
      new_comment: @new_comment,
      comment_path: course_lesson_comments_path(@course, @lesson) %>