<div class="Nav_bar">
  <div id="Nav_bar_title">Edit Course</div>
  <div id="Nav_bar_links">
    <%= link_to "Course", course_path(@course) %>
  </div>
  <div id="Nav_bar_links">
    <%= link_to "Back to Courses", courses_path %>
  </div>
  <div id="Nav_bar_links">
    <%= link_to "Add lessons", new_course_lesson_path(@course) %>
  </div>
  <div id="profile_link">
    <% if current_user.present? %>
      <%= link_to "Profile", user_profile_path(current_user) %>
      <span>|</span>
      <%= link_to "Logout", new_user_path %>
    <% else %>
      <%= link_to "Login", new_user_path %>
    <% end %>
  </div>
</div>

<div class="content_panel">
  <p><%= "Author: #{@course.creator}" %></p>
</div>

<%= form_with model: @course, html: { class: "app_form" } do |form| %>
  <%= render "errors/error", context:@course %>
  <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
  </div>

  <div class="horizontal-group" >
    <%= form.label :tier, "Tier" %>
    <%= form.radio_button :tier, "free" %>
    <%= form.label :tier_free, "Free" %>
    <%= form.radio_button :tier, "pro" %>
    <%= form.label :tier_pro, "Pro" %>
  </div>

  <div class="horizontal-group" >
    <%= form.label :status, "Status" %>
    <%= form.radio_button :status, "published" %>
    <%= form.label :status_published, "Published" %>
    <%= form.radio_button :status, "draft" %>
    <%= form.label :status_draft, "Draft" %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
    <%= link_to "Delete this course", course_path(@course.id), data: { turbo_method: :delete, turbo_confirm: "Delete this course?" }, class: "btn-link" %>
<% end %>

