<div class="Nav_bar" > 
    <div id="Nav_bar_title">
        Courses
    </div>

    <div id="Nav_bar_links">
        <%= link_to "Create new course", new_course_path %>
    </div>

    <div id="profile_link">
        <% if current_user.present? %>
        <%= link_to "View Profile", user_profile_path(current_user) %>
        <span>|</span>
        <%= link_to "Logout", new_user_path %>
        <% else %>
        <%= link_to "Login", new_user_path %>
        <% end %>
    </div>
</div>



<ul> 
    <% @courses.each do |course| %>
        <li>
            <%= link_to "#{course.title}", course_path(course.id) %> 
            <%= button_to "Edit", edit_course_path(course.id), method: :get %>
        </li>
    <% end %>
</ul>