<div class="Nav_bar">
    <div id="Nav_bar_title">New Course</div>
    <div id="Nav_bar_links">
        <%= link_to "Back to Courses", courses_path %>
    </div>
    <div id="profile_link">
        <% if current_user.present? %>
            <%= link_to "Profile", user_profile_path(current_user) %>
            <span>|</span>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
            <%= link_to "Sign in", new_user_session_path %>
        <% end %>
    </div>
</div>

<h1> Create new Course </h1>

<%= render "errors/error", context: @course %>

<%= form_with model: @course, html: { class: "app_form" } do |form| %>
    <div>
        <%= form.label :title, "Course title" %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description, "Description" %>
        <%= form.text_area :description %>
    </div>
    <div class="horizontal-group" >
        <%= form.label :tier, "Course Tier" %>
        <%= form.radio_button :tier, "free" %>
        <%= form.label :tier_free, "free"%>
        <%= form.radio_button :tier, "pro" %>
        <%= form.label :tier_pro, "pro"%>
    </div>

    <div>
        <%= link_to "Cancel",courses_path, class: "btn-link" %>
        <%= form.submit %>
    </div>
    
<% end %>